/* Skills */

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-div {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}

.skill-order-div {
  width: 5rem;
  display: flex;
  gap: 0.8rem;
}

.skill-div > input {
  flex: 1 0 auto;
}

.skill-add-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.skill-div button,
.skill-add-div button {
  border-radius: 3px;
  width: 6rem;
  height: 2rem;
  font-size: 0.9rem;
}

.skill-div > button {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.skill-order-div > div {
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}

button.grip-btn {
  width: 3rem;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  background-color: inherit;
}

.grip-btn:hover {
  background-color: var(--input-bg);
}

.grip-btn svg {
  height: 1.5rem;
  width: 1.1rem;
}

.grip-btn:hover svg {
  filter: brightness(0.7);
}