.main-container {
  height: 100%;
  display: flex;
  gap: 2rem;
}

/* Sidebar */

.sidebar {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 8rem 2rem 5rem;
}

/* Form styling */

.form-container {
  flex: 1 1;
  /* padding: 10rem 10rem 10rem 25rem; */
  padding: 10rem;
  padding-left: 0rem;
}

.dual-mode .form-container {
  padding-right: 5rem;
}

.form-container h3 {
  margin-left: 2rem;
}

.form {
  border: 2px groove var(--input-bg);
  border-radius: 10px;
  margin-top: 1rem;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
}

.form::after {
  content: "";
  background: linear-gradient(
    transparent,
    var(--color-accent),
    /* mediumslateblue, */
    transparent
  );
  height: 150px;
  width: 1px;
  position: absolute;
  left: -2px;
  top: 75%;
  opacity: 0;
  transition: top 800ms ease,
              opacity 800ms ease;
}

.form:hover::after {
  top: 0;
  opacity: 1;
}

.form-title-div {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
}

.next-btn-div {
  display: flex;
  padding: 0 12px;
  gap: 10px;
}

.next-btn-div button {
  border-radius: 3px;
  width: 6rem;
  height: 2rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.next-btn-div svg {
  height: 0.7rem;
  position: relative;
  top: 0.05rem;
}

.next-btn {
  padding-left: 1rem;
}

.prev-btn {
  padding-right: 1rem;
}

.personal-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 40%;
}

.form label {
  min-width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input,
.form textarea {
  background-color: var(--input-bg);
  color: var(--color-text);
  font-size: 0.9rem;
  padding: 12px;
  outline: none;
}

.form input[type="text"],
.form input[type="email"] {
  height: 3rem;
  appearance: none;
  border: none;
  border-radius: 5px;
}

label > span > span {
  font-weight: 200;
  font-size: 0.8rem;
}

.summary-label {
  flex: 1 0 auto;
}

.summary-label textarea {
  height: 80%;
  appearance: none;
  border: none;
  border-radius: 10px;
}

/* Resume viewer */
.resume-container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  padding-right: 5rem;
}